@import './styles/_colors.css';

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--background-color);
  min-height: 100vh;
  user-select: none;
  position: relative;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

.start-view {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: all 0.3s;
}

.home-view {
  opacity: 0;
  transition: all 0.3s;
  filter: blur(10px);
}

.submitted-view {
  opacity: 0;
  transition: all 0.3s;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}