@import './styles/_colors.css';

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--background-color);
  height: 100vh;
  user-select: none;
}

button {
  cursor: pointer;
}