:root {
    --background-color: #F0F0F0;
    --component-color: #FFFFFF;
    --positive-button-color: #008060;
    --shopify-color: #008060;
    --negative-button-color: #D82C0D;
    --neutral-button-color: #2E72D2;
    --text-color: #F6F6F7;
    --positive-button-color-hover: #017457;
    --negative-button-color-hover: #bd2105;
    --neutral-button-color-hover: #2765bb;

    --font-family: "Segoe UI";

    --title-font-size: 28px;
    --title-line-height: 32px;
    --title-font-weight: 500;

    --button-font-size: 14px;
    --button-line-height: 16px;
    --button-font-weight: 500;

    --heading-font-size: 16px;
    --heading-line-height: 24px;
    --heading-font-weight: 500;

    --body-font-size: 14px;
    --body-line-height: 20px;
    --body-font-weight: 400;

    --caption-font-size: 12px;
    --caption-line-height: 16px;
    --caption-font-weight: 400;
}